<h1><%= @user.name %>のお気に入り一覧</h1>
<div class="user_icon">
  <%= image_tag "#{@user.image}"%>
</div>

<table>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.user.name %></td>
        <td><%= image_tag @user.image_url, :size =>'200x200' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '投稿一覧へ', feeds_path %>
